/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #FFF;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid #FF3D00;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.hiden {
  display: none;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.description {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-img {
  display: block;
  width: 360px;
  height: 240px;
}
.load-more {
    border-radius: 8px;
    border: none;
    font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.04em;
      color: #fff;
    padding: 8px 16px;
    width: 125px;
    height: 40px;
    margin: 0 auto;
    background: #4e75ff;
}
.serch-form {
  margin: 0 auto;
}
form .serch-input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  gap: 8px;
  margin-top: 36px;
  margin-bottom: 32px;
}
form .btn-submit {
    border-radius: 8px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    padding: 8px 16px;
    width: 91px;
    height: 40px;
    background: #4e75ff;
  }